In [4]:
import requests
import pandas as pd

In [5]:
r = requests.get('https://randomuser.me/api/?results=250')
# r.json()
df = pd.json_normalize(r.json()["results"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gender                          250 non-null    object
 1   email                           250 non-null    object
 2   phone                           250 non-null    object
 3   cell                            250 non-null    object
 4   nat                             250 non-null    object
 5   name.title                      250 non-null    object
 6   name.first                      250 non-null    object
 7   name.last                       250 non-null    object
 8   location.street.number          250 non-null    int64
 9   location.street.name            250 non-null    object
 10  location.city                   250 non-null    object
 11  location.state                  250 non-null    object
 12  location.country                250 non-null    object
 13  location.postcode               250 non-null    object
 14  location.coordinates.latitude   250 non-null    object
 15  location.coordinates.longitude  250 non-null    object
 16  location.timezone.offset        250 non-null    object
 17  location.timezone.description   250 non-null    object
 18  login.uuid                      250 non-null    object
 19  login.username                  250 non-null    object
 20  login.password                  250 non-null    object
 21  login.salt                      250 non-null    object
 22  login.md5                       250 non-null    object
 23  login.sha1                      250 non-null    object
 24  login.sha256                    250 non-null    object
 25  dob.date                        250 non-null    object
 26  dob.age                         250 non-null    int64
 27  registered.date                 250 non-null    object
 28  registered.age                  250 non-null    int64
 29  id.name                         250 non-null    object
 30  id.value                        196 non-null    object
 31  picture.large                   250 non-null    object
 32  picture.medium                  250 non-null    object
 33  picture.thumbnail               250 non-null    object
dtypes: int64(3), object(31)
memory usage: 66.5+ KB

In [6]:
df

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,login.sha256,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail
0,male,bureviy.vdovenko@example.com,(068) U13-0030,(098) I97-9924,UA,Mr,Bureviy,Vdovenko,351,Lanzheronivskiy uzviz,...,a57f0cdb326741e60fdc0126e8e54b764098987b7ae2df...,1952-02-11T22:24:37.711Z,71,2003-01-15T00:59:35.686Z,20,,None,https://randomuser.me/api/portraits/men/61.jpg,https://randomuser.me/api/portraits/med/men/61...,https://randomuser.me/api/portraits/thumb/men/...
1,female,meghan.horton@example.com,(389) 552-9360,(353) 453-6626,US,Mrs,Meghan,Horton,818,Nowlin Rd,...,dee6d11bb46bc34cdb559b617eb734ddd3eb43c31e0e4b...,1952-06-01T01:45:03.719Z,71,2010-05-08T08:04:21.763Z,13,SSN,723-28-6449,https://randomuser.me/api/portraits/women/56.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
2,male,andre.barros@example.com,(63) 0017-4582,(80) 8574-8457,BR,Mr,André,Barros,5867,Rua Três,...,674e0cff7149e11af4f4a102c9d726e02c265d91d01909...,1992-12-23T10:11:34.620Z,30,2005-11-02T21:14:38.296Z,17,CPF,784.503.543-16,https://randomuser.me/api/portraits/men/49.jpg,https://randomuser.me/api/portraits/med/men/49...,https://randomuser.me/api/portraits/thumb/men/...
3,male,marius.poulsen@example.com,25498451,38385601,DK,Mr,Marius,Poulsen,5803,Knudskovparken,...,69fc1ff4951303b8b55b9a0463e1d87124292094e1df0f...,1968-02-09T00:34:50.238Z,55,2012-11-15T09:12:08.826Z,10,CPR,080268-2634,https://randomuser.me/api/portraits/men/44.jpg,https://randomuser.me/api/portraits/med/men/44...,https://randomuser.me/api/portraits/thumb/men/...
4,female,siiri.leinonen@example.com,08-279-158,041-985-06-55,FI,Mrs,Siiri,Leinonen,9466,Nordenskiöldinkatu,...,27fcfa9585b194360d2c8a7843653ea3308153e037a7e6...,1974-06-23T23:11:20.804Z,48,2019-05-03T01:50:07.492Z,4,HETU,NaNNA138undefined,https://randomuser.me/api/portraits/women/35.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,female,adele.fournier@example.com,01-50-72-35-43,06-75-69-60-42,FR,Mrs,Adèle,Fournier,4924,Rue Chazière,...,e579c43586d986983129d424aaf5692e510fe0e9d7e65d...,1953-02-01T21:29:06.403Z,70,2013-08-15T09:39:42.751Z,9,INSEE,2530180118043 15,https://randomuser.me/api/portraits/women/53.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
246,female,abbie.kim@example.com,019467 84906,07902 952542,GB,Ms,Abbie,Kim,5365,Manchester Road,...,3ac5c0ebd1005139eeae157bc41844bb48321e25e2d3dc...,1972-06-29T00:54:37.861Z,50,2008-11-11T13:38:09.350Z,14,NINO,YE 60 76 24 H,https://randomuser.me/api/portraits/women/85.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
247,female,lia.dumas@example.com,02-64-72-51-92,06-41-44-07-66,FR,Mrs,Lia,Dumas,140,Montée du Chemin-Neuf,...,d843e0120dde12d0a3127d67f33bae10f8fd8e3b46e066...,1958-01-22T16:47:42.498Z,65,2005-07-13T05:47:58.724Z,17,INSEE,2580072498270 80,https://randomuser.me/api/portraits/women/9.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
248,male,william.richards@example.com,015396 66853,07728 570216,GB,Mr,William,Richards,9618,Richmond Road,...,39fbd2c846caaa65bbfef31ad78cd404ba67f947ecfa16...,1984-11-01T22:10:20.824Z,38,2013-10-30T01:15:18.102Z,9,NINO,WA 75 31 69 Z,https://randomuser.me/api/portraits/men/53.jpg,https://randomuser.me/api/portraits/med/men/53...,https://randomuser.me/api/portraits/thumb/men/...
249,female,tilde.poulsen@example.com,54219911,81720906,DK,Ms,Tilde,Poulsen,687,Kirkevænget,...,983f8f51fc174b690f021fed8788b6f48fa82ada337e3a...,1975-12-16T00:05:44.303Z,47,2002-12-11T18:06:50.777Z,20,CPR,151275-8317,https://randomuser.me/api/portraits/women/68.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...

In [7]:
df.describe()

       location.street.number    dob.age  registered.age
count              250.000000  250.00000      250.000000
mean              4663.312000   50.38800       10.568000
std               2977.592695   16.25887        5.904645
min                 41.000000   23.00000        1.000000
25%               1877.500000   36.25000        5.250000
50%               4421.000000   49.00000       11.000000
75%               7221.250000   66.00000       15.000000
max               9967.000000   78.00000       21.000000

In [8]:
df.shape

(250, 34)

In [9]:
mean = df['registered.age'].mean()
mean

10.568

In [10]:
distCountries = df['nat'].unique()
distCountries

array(['UA', 'US', 'BR', 'DK', 'FI', 'ES', 'IN', 'NL', 'CA', 'RS', 'DE',
       'GB', 'IR', 'IE', 'MX', 'TR', 'NZ', 'AU', 'FR', 'CH', 'NO'],
      dtype=object)

In [11]:
count = len('distCountries')
count

13

In [12]:
df[df['gender'] == 'male']

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,login.sha256,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail
0,male,bureviy.vdovenko@example.com,(068) U13-0030,(098) I97-9924,UA,Mr,Bureviy,Vdovenko,351,Lanzheronivskiy uzviz,...,a57f0cdb326741e60fdc0126e8e54b764098987b7ae2df...,1952-02-11T22:24:37.711Z,71,2003-01-15T00:59:35.686Z,20,,None,https://randomuser.me/api/portraits/men/61.jpg,https://randomuser.me/api/portraits/med/men/61...,https://randomuser.me/api/portraits/thumb/men/...
2,male,andre.barros@example.com,(63) 0017-4582,(80) 8574-8457,BR,Mr,André,Barros,5867,Rua Três,...,674e0cff7149e11af4f4a102c9d726e02c265d91d01909...,1992-12-23T10:11:34.620Z,30,2005-11-02T21:14:38.296Z,17,CPF,784.503.543-16,https://randomuser.me/api/portraits/men/49.jpg,https://randomuser.me/api/portraits/med/men/49...,https://randomuser.me/api/portraits/thumb/men/...
3,male,marius.poulsen@example.com,25498451,38385601,DK,Mr,Marius,Poulsen,5803,Knudskovparken,...,69fc1ff4951303b8b55b9a0463e1d87124292094e1df0f...,1968-02-09T00:34:50.238Z,55,2012-11-15T09:12:08.826Z,10,CPR,080268-2634,https://randomuser.me/api/portraits/men/44.jpg,https://randomuser.me/api/portraits/med/men/44...,https://randomuser.me/api/portraits/thumb/men/...
7,male,rudra.uchil@example.com,9134098281,7818027742,IN,Mr,Rudra,Uchil,3891,Kasturba Rd,...,855ac5c8f76ad8b1fa223e411787823d561829d8d4f66f...,1949-03-08T19:48:39.561Z,74,2014-07-12T12:20:08.062Z,8,UIDAI,656873048265,https://randomuser.me/api/portraits/men/13.jpg,https://randomuser.me/api/portraits/med/men/13...,https://randomuser.me/api/portraits/thumb/men/...
10,male,victor.jorgensen@example.com,01393286,29550025,DK,Mr,Victor,Jørgensen,8525,Højmarken,...,64ef9ddf73a4c3993e50fcde9c2db25418c3beee136d2e...,1963-02-02T16:10:53.030Z,60,2007-11-15T07:12:47.663Z,15,CPR,020263-9637,https://randomuser.me/api/portraits/men/31.jpg,https://randomuser.me/api/portraits/med/men/31...,https://randomuser.me/api/portraits/thumb/men/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,male,mhmd.zraay@example.com,012-34942738,0991-597-9068,IR,Mr,محمد,زارعی,7065,30 تیر,...,da1d5bb11de751823ba4fae295818710864907fde4d0fb...,1990-08-19T04:18:10.304Z,32,2011-06-23T03:16:16.605Z,11,,None,https://randomuser.me/api/portraits/men/85.jpg,https://randomuser.me/api/portraits/med/men/85...,https://randomuser.me/api/portraits/thumb/men/...
239,male,endre.olavesen@example.com,87188163,44065416,NO,Mr,Endre,Olavesen,1115,Ballplassveien,...,1f70742d6ebcd291a7a5cbcae32f752f2ae25d9baec642...,2000-03-07T02:11:33.793Z,23,2010-04-15T20:15:50.743Z,13,FN,07030095167,https://randomuser.me/api/portraits/men/27.jpg,https://randomuser.me/api/portraits/med/men/27...,https://randomuser.me/api/portraits/thumb/men/...
241,male,berat.leijten@example.com,(032) 9586318,(06) 00335859,NL,Mr,Berat,Leijten,4148,Kerkpolderweg,...,8165ceb8711c1a770a98ef7be3df08df736ca8cf269590...,1974-08-22T04:50:46.893Z,48,2008-10-27T11:38:11.104Z,14,BSN,31119272,https://randomuser.me/api/portraits/men/91.jpg,https://randomuser.me/api/portraits/med/men/91...,https://randomuser.me/api/portraits/thumb/men/...
243,male,harrison.jones@example.com,(707)-923-6720,(137)-202-2741,NZ,Mr,Harrison,Jones,2609,The Square,...,c3da8ba2924a7820dce10b6e985e8bb15e4e631056b823...,1955-09-07T01:46:24.564Z,67,2016-11-01T23:57:41.846Z,6,,None,https://randomuser.me/api/portraits/men/7.jpg,https://randomuser.me/api/portraits/med/men/7.jpg,https://randomuser.me/api/portraits/thumb/men/...
248,male,william.richards@example.com,015396 66853,07728 570216,GB,Mr,William,Richards,9618,Richmond Road,...,39fbd2c846caaa65bbfef31ad78cd404ba67f947ecfa16...,1984-11-01T22:10:20.824Z,38,2013-10-30T01:15:18.102Z,9,NINO,WA 75 31 69 Z,https://randomuser.me/api/portraits/men/53.jpg,https://randomuser.me/api/portraits/med/men/53...,https://randomuser.me/api/portraits/thumb/men/...

In [13]:
col34 = df.iloc[:, 2:4]
col34

              phone            cell
0    (068) U13-0030  (098) I97-9924
1    (389) 552-9360  (353) 453-6626
2    (63) 0017-4582  (80) 8574-8457
3          25498451        38385601
4        08-279-158   041-985-06-55
..              ...             ...
245  01-50-72-35-43  06-75-69-60-42
246    019467 84906    07902 952542
247  02-64-72-51-92  06-41-44-07-66
248    015396 66853    07728 570216
249        54219911        81720906

[250 rows x 2 columns]

In [14]:
first4 = df.head(4)
first4

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,login.sha256,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail
0,male,bureviy.vdovenko@example.com,(068) U13-0030,(098) I97-9924,UA,Mr,Bureviy,Vdovenko,351,Lanzheronivskiy uzviz,...,a57f0cdb326741e60fdc0126e8e54b764098987b7ae2df...,1952-02-11T22:24:37.711Z,71,2003-01-15T00:59:35.686Z,20,,None,https://randomuser.me/api/portraits/men/61.jpg,https://randomuser.me/api/portraits/med/men/61...,https://randomuser.me/api/portraits/thumb/men/...
1,female,meghan.horton@example.com,(389) 552-9360,(353) 453-6626,US,Mrs,Meghan,Horton,818,Nowlin Rd,...,dee6d11bb46bc34cdb559b617eb734ddd3eb43c31e0e4b...,1952-06-01T01:45:03.719Z,71,2010-05-08T08:04:21.763Z,13,SSN,723-28-6449,https://randomuser.me/api/portraits/women/56.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
2,male,andre.barros@example.com,(63) 0017-4582,(80) 8574-8457,BR,Mr,André,Barros,5867,Rua Três,...,674e0cff7149e11af4f4a102c9d726e02c265d91d01909...,1992-12-23T10:11:34.620Z,30,2005-11-02T21:14:38.296Z,17,CPF,784.503.543-16,https://randomuser.me/api/portraits/men/49.jpg,https://randomuser.me/api/portraits/med/men/49...,https://randomuser.me/api/portraits/thumb/men/...
3,male,marius.poulsen@example.com,25498451,38385601,DK,Mr,Marius,Poulsen,5803,Knudskovparken,...,69fc1ff4951303b8b55b9a0463e1d87124292094e1df0f...,1968-02-09T00:34:50.238Z,55,2012-11-15T09:12:08.826Z,10,CPR,080268-2634,https://randomuser.me/api/portraits/men/44.jpg,https://randomuser.me/api/portraits/med/men/44...,https://randomuser.me/api/portraits/thumb/men/...